* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d1d1d1;  
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.page-container {
    display: flex;
    max-width: 980px;
    margin: 40px auto;
    
    background-color: white;
    background-image: url(imgs/white-paper-texture.jpg);

    border: 10px solid rgb(108, 108, 109);
    
    min-height: 1100px;  
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

/* Ліва панель */
.left-side {
    width: 30%;
    background-color: rgba(230, 230, 230, 1);
    color: color: #555;
    padding: 40px 20px;
    border-right: 1px solid #eee;
}

.avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid white;
    display: block;
    margin: 0 auto 30px;
    object-fit: cover;
    filter: grayscale(40%);
}

.info-block, .contact-info {
    margin-bottom: 30px;
}

.left-side h3 {
    color: #333;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    margin-bottom: 15px;
}

.left-side p, .left-side li {
    font-size: 14px;
    line-height: 1.8;
    list-style-position: inside;
}

/* Права панель */
.right-side {
    width: 70%;
    background-color: rgba(230, 230, 230, 0.8);
    padding: 50px 40px;
}

h1 {
    color: #2d2d2d;  
    letter-spacing: 1px;
}

.section-title {
    color: #666; 
    border-bottom: 1px solid #ccc;  
    margin-top: 35px;
    font-weight: 400;
    font-size: 16px;
}

.item {
    margin-bottom: 20px;
}

.item h3 {
    font-size: 18px;
    color: #444;
}

.date {
    color: #888;
    font-size: 14px;
    font-style: italic;
    margin: 4px 0;
}

.skills-tags p {
    margin-bottom: 10px;
    line-height: 1.6;
    margin-top: 10px
}
